body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#caja {
    width: 200px;
    height: 200px;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#caja2 {
    width: 200px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#caja3 {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: gold;
}